body {
    margin : 0px;
}

body {
    font-family: Arial, sans-serif;
}

.head {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: right;
}

.logout {
    color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.box {
    position: relative;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    padding: 20px;
}

.content h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.content a {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content a:hover {
    background-color:  #45a049;
}
